@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.parrafo{
        background-color: lightblue;
        font-size: 25px;
        font-family: 'Roboto', sans-serif;

}
.li{
        
        background-color: aquamarine;
        
}